/* Define a base global de configuração*/

* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    margin: 0;
    /*zerando margin do HTML*/
    padding: 0;
    /*zerando preenchimento do HTML deixando sem espaçamento em volta*/
}

body {
    background-color: #080d0d;
}

.cabecalho {
    background-color: #080d0d;
    /*cor de fundo do header*/
    text-align: center;
    /*alinhamento do texto*/
    padding: 2rem;
    /* 2rem = 32px    */
    color: white;
    position: sticky;
    left: 0;
    top: 0;
    z-index: 999;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.icon img {
    width: 17%;
}


.batman {
    /* background: #000000;
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(8, 8, 8, 1) 50%, rgba(107, 100, 100, 1) 100%);
     */
   background-image: url(imagens/meeting-594091_1280.jpg);
   background-size: cover;
   background-position: top;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
    /*poderíamos usar 20px*/
    padding: 9rem;
    /* = 32px */
    flex-wrap: wrap;

}

span {
    color: yellow;
    font-weight: bold;
    transition: 0.8s;
}

span:hover {
    color: rgba(255, 255, 0, 0.439);
}

.div-batman-0{
    background-color: rgba(128, 128, 128, 0.191);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;


    font-size: 2rem;
    width: 25%;
    /*largura de todas as caixas em porcentagem*/
    height: 23rem;
    /*a*/
    border: none;
    min-width: 300px;
    /**evita que fique muito pequeno*/
    transition: 0.8s;
    cursor: pointer;
}

.div-batman {
    background-image: url();
    background-size: cover;
    background-position: center;
    
    width: 25%;
    /*largura de todas as caixas em porcentagem*/
    height: 23rem;
    /*a*/
    border: none;
    box-shadow: 2px 2px 7px white;
    min-width: 300px;
    /**evita que fique muito pequeno*/
    transition: 0.8s;
    cursor: pointer;
}



.container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    /*poderíamos usar 20px*/
    padding: 8rem;
    /* = 32px */
    flex-wrap: wrap;
    /*utilizado para quebra das caixas caso necessário*/
}

/* Aqui estamos alterando/estilizando as DIV */
.caixa {
    background-color: #648285;
    color: white;
    font-size: 1.2rem;
    width: 25%;
    /*largura de todas as caixas em porcentagem*/
    height: 23rem;
    /*a*/
    box-shadow: 10px 10px 20px rgb(113, 113, 113);
    border-radius: 10px;
    min-width: 300px;
    /**evita que fique muito pequeno*/
    transition: 0.8s;
    cursor: pointer;
}

.caixa:hover {
    box-shadow: 12px 12px 22px rgb(56, 55, 55);
    border-radius: 15px;
}


.div-robben {
    background-color: #181818;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    flex-direction: column;
    padding: 0 1rem;
    height: 15rem;
    /*a*/
}

.div-robben i {
    color: white;
    font-size: 2em;
}

.div-robben p {
    font-size: 1.1rem;

}

.button-div-robben button {
    padding: 0.5rem;
    background-color: #700357;
    color: white;
    border: none;
    margin-left: 10px;

}


.button-div-robben p {
    font-size: 0.9rem;

}

.button-div-robben {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
}




.content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    flex-wrap: wrap;

}

.social-media {
    padding: 1.5rem;
}

.social-media i {
    font-size: 2em;
    color: white;
    transition: 0.8s;
    margin: 0.5em;
}

.social-media i:hover {
    font-size: 2.1em;
    color: rgba(255, 255, 255, 0.46);
}

.line {
    width: 60%;
    margin: 0.5em auto;

}

.line-strong {
    margin: 2rem auto;
    width: 70%;

}

.div-list ul li {
    list-style: none;
    margin-top: 1em;
}

.div-list ul li a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.407);
    transition: 0.8s;
}

.div-list ul li a:hover {
    color: rgba(255, 255, 255, 0.552);

}

.rodape {
    background-color: #000000b5;
    color: rgba(0, 0, 0, 0.308);
    text-align: center;
    padding: 2rem;
    font-size: 1rem;
}



.img-div {
    /* Aqui chamamos nossa Class para alteração*/
    padding: 2%;
    /* Cuida do Preenchimento */
    background-image: url(imagens/leather-1251778_1280.jpg);
    /* Usada para inserir imagens de fundo */
    background-position: center;
    /* Aqui posicionamos nossa imagem para o centro */
    background-size: auto;
    /* Background-Size: especifica o tamanho das imagens de fundo. Auto: Responsável por preencher totalmente a imagem. */
}